pyrogram==1.4.12
py-tgcalls==0.8.6 
TgCrypto
python-dotenv
youtube-dl
requests
aiohttp[speedups]
aiofiles
asyncio==3.4.3
python-arq
search_engine_parser
wget 
ffmpeg-python
Pillow==9.1.0
ujson
pymongo[srv]
psutil
motor
git+https://github.com/PlutoOwner/Loading2@master
git+https://github.com/alexmercerind/youtube-search-python@main
git+https://github.com/PlutoOwner/update@master
